body {
  background-color: rgb(57, 0, 110);
  padding: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1,
h2 {
  color: rgb(210, 210, 210);
}

li {
  list-style: none;
}

label {
  margin-right: 1rem;
}

button,
a {
  display: inline-block;
  text-decoration: none;
  background-color: white;
  color: black;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.article-div,
.form {
  border: 1px solid black;
  margin: 3rem 0 0.5rem 0;
  padding: 1rem;
  background-color: aliceblue;
  border-radius: 1rem;
  max-width: 400px;
  font-weight: bold;
}

.form * {
  margin: 1rem 1rem 0 0;
}

.published-bold {
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}
